[submodule "custom_addons/l10_ir"]
	path = custom_addons/l10_ir
	url = https://github.com/ehsan-r97/Odoo19Custom_Addons.git
[submodule "custom_addons/er1376"]
	path = custom_addons/er1376
	url = git@github.com-er1376:ehsan-r97/er1376.git
